<div class="wrapper">
    <div  style="padding: 40px;">
        <div class="alert alert-danger" style="font-size: 18px;">
            <strong style="font-size: 25px;">Thanh toán thành công!</strong> Quay lại trang chủ để
        </div></br>
        <a style="font-size: 25px;color:green" class="btn btn-success" href="/">Tiếp tục mua hàng</a>
    </div>
</div>
